@font-face {
  font-family: "my_monospace";
  src: url("/font/VL-Gothic-Regular.woff") format("woff");
}

* {
  line-height: 150%;
  box-sizing: border-box;
  font-family: my_monospace, monospace,
    Courier /* monospace for Mac */
  ;
}

body {
  padding: 0.5rem 3%;
  color: #333;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
}
th, td {
  border: solid 1px #ccc;
  padding: 0.1rem 0.5rem;
}
th {
  background: #f4f4f4;
}

hr {
  border: solid #ddd;
  border-width: 0.1rem 0 0 0;
}

a {
  text-decoration: none;
  color: #06a;
}
a:visited {
  color: #268;
}
a:hover {
  color: #c00;
}

button {
  margin: 0.3rem;
}

#guard_layer {
  background: rgba(120,120,120, 0.2);
  position: fixed;
  left: 0; top: 0; width: 100%; height: 100%;
}

.loading {
  width: 2rem;
  height: 2rem;
  background: #fff;
  border: solid 0.2rem #fff;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  animation: loading 2s infinite;
}
@keyframes loading {
  0% { transform: rotate(  0deg); }
  100% { transform: rotate(360deg); }
}

/* common component */

.container_label {
  padding: 0.3rem;
  margin: 0.3rem;
  border: solid 0.1rem #eee;
  border-radius: 0.2rem;
  user-select: none;
}

.container_label:hover {
  border-color: #aaa;
  background: #f4f4f4;
}

.container_label_selected {
  border-color: #ccc;
  background: #bee;
}

.container_label_selected:hover {
  border-color: #aaa;
  background: #a0e8e8;
}
